body {
  background-image:   linear-gradient(270deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
}

.logos img {
  width: 100px;
}

.endP {
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
}