
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  header {
    background-color: #e47f2c;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  section {
    flex: 1;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  article h3 {
    font-size: 20px;
  }
  
  button {
    background-color: #4242ea;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3030c6;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  footer li a {
    color: #333;
    text-decoration: none;
  }
  
  /* Add a hover effect for links in the footer */
  footer li a:hover {
    color: #4242ea;
  }
  