body {
  background-image: url("./assets/beach-beach-party.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: none;
}

h1, h2, h3, h4, h5 ,h6 , p {
    color: rgb(128, 26, 0);
}


h1 {
  font-size: 50px;
  color: orangered;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  font-family: Calibri Light, Calibri;
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  color: orangered;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  font-family: fantasy;
}

.about,
.passion {
  display: inline-block;
  margin-bottom: 30px;
}

.about {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 200px;
  width: 35%;
}

.about p {
  word-wrap: width;
}
.passion p {
  word-wrap: width;
}

.passion {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 35%;
}

.projects {
  display: inline-block;
}

.skills {
  display: inline-block;
}

.projects, .skills {
    margin = 30px;
}

.projects {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 35%;
  margin-left: 20px;
}

.skills {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 35%;
}

Img {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

footer,
img {
  margin-left: auto;
  margin-right: auto;
  height: 25%;
}

.linkedin img{
    max-width: 5%;
    display: inline-block;
}

.linkedin {
    display: inline-block;
}

.github img {
    max-width: 5%;
    display: inline-block;
}

.github {
    display: inline-block;
}

.email img {
    max-width: 5%;
    display: inline-block;
}

.email {
    display: inline-block;
}

.umass img {
    max-width: 5%;
}
.pursuit img {
    max-width: 5%;
}

section .umass, section .pursuit {
    display: inline-block;
}

.umass {
    width: 35%;
}
.pursuit {
    width: 35%;
}

.title {
    text-align: center;
    color: white;
    background-color: #0BADA6;
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }